# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE & Editor caches
.vscode/
.idea/
*.swp
*~

# Operating System Files
.DS_Store
Thumbs.db
*.sock

# Logs & Temporary files
*.log
/tmp/
